/* ///// inputs /////*/
.container-contact-form {
  width: 65%;
  margin: auto;
}

.flex-box-form {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
 
}
.flex-box-form>div {
  margin-bottom: 15px;
  
 
}

.flex-box-form label {
  display: block;
 
}

input,
textarea,
div.dropdown-select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: #212529;
  text-align: left;
  width: 100%;

}


.dropdown-select,.text-form-control,textarea {
  background-color: white;
  font-size: 1.5rem;
  border: none;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  
}
select.dropdown-select{
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: right +10px;

}
.dropdown-select:focus{
color: #495057;
background-color: #fff;
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}







.chk_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chk_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chk_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chk_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chk_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}