
    /* font-family: 'Roboto', sans-serif;

    font-family: 'Raleway', sans-serif;

    font-family: 'Open Sans Condensed', sans-serif */

body{
  font-family: 'Raleway', sans-serif !important;
}
.account{
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* Set the border color */


/* change the size of the slideshow */
.carousel-inner>.carousel-item {
  height: 100vh;
}
.fixed-top-30 {
  position: fixed;
  top: 35px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.overview{
  padding:  50px;
  width: 100%;
  
}
.box-container{
  background-image: url('images/water.jpg');
  background-repeat: repeat;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 0.8em/1.2 'Quicksand', sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ffffff;
  z-index: 0;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  transition: border 0.1s linear 0.05s;
  color: #000000;
}



.btn:hover {
  color: #000000 !important;
  transition: color 0.1s linear 0s;
 
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 0.5;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #000000 !important;
  transition: border 0.1s linear 0s;
}
.box-content-image{
  box-sizing: border-box;
  margin-left: -20%;
  margin-right: 20%;
  background-color: rgba(29, 29, 92, 1);
}
.pad-25{
  padding: 0.8em;
}
@media only screen and (max-width: 480px) {
  .box-content-image {margin-left: 0;}
}
@media only screen and (min-width: 480px) and (max-width: 950px) {
  .box-content-image {margin-left: 0;}
  .pad-25{padding: 0.6em;}
}